.file {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 8px;
    animation-duration: 1.5s ease;
}

.file :hover{
    color: rgb(58, 227, 24);
    
}

.inside{
    display: none;
    color: aqua;
    
}
