.login {
    background-color: white;
    display: flex;
    align-items: flex-start;
  }
  
  .MuiGrid-root .css-14epxft-MuiPaper-root{
    width: 360px;
    min-height: 100px;
    padding: 32px 24px;
    text-align: center;
    background: #fff;
    border-radius: 2px;
    margin: 24px;
    align-self: center;
    box-shadow: 0 2px 5px 0 rgba(51, 62, 73, 0.1);
}

  .paper_logo {
    padding: 20px;
    height: 80vh;
    width: 380px;
    margin: 20px auto;
  }
  
  .paper_logo > .MuiTextField-root {
    margin: 10px 20px;
  }
  
  
  
  .grid_logo{
      display: grid;
      justify-items: center;
  }
  
  .grid_logo > img{
      height: 150px;
  }
  
  .grid_logo > h2{
      margin-bottom: 20px;
      font-size: 200%;
  }
  
  
  .text_field {
    width: 340px;
  }
  
  .paper_logo > .MuiButton-root {
      width: 340px;
      margin: 10px 20px;
  }
  
  .link {
      margin: 0px 20px;
  }
  